{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }} !</h2>
<h3 id="balance"> Your Current Balance is {{user.balance}}</h3>

<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
		<h4 id = "display_name">Name: {{ticket.name}}</h4>
		<h4 id = "display_owner">Owner: {{ticket.owner}}</h4>
		<h4 id = "display_price">Price: {{ticket.price}}</h4>
		<h4 id = "display_qty">Quantity: {{ticket.qty}}</h4>
		<h4 id = "display_exp">Date: {{ticket.exp}}</h4>
    </div>
{% endfor %}
</div>

<h4 id='message'>{{message}}</h4>

<br>
<h2> Sell Ticket</h2>
<form action = '/sell' method="post">
	<label for="sell_name"> Ticket Name: </label>
	<input type="text" id="sell_name" name="sell_name">
	<br>
	<label for="sell_qty"> Quantity:</label>
	<input type="number" id="sell_qty" name="sell_qty">
	<br>
	<label for="sell_price"> Ticket Price:</label>
	<input type="number" id="sell_price" name="sell_price">
	<br>
	<label for="sell_date"> Expiration Date:</label>
	<input type="text" id="sell_date" name="sell_date">
	<br>
	<input type="submit" id="sell" value="Sell">
</form>

<br>
<h2 >Buy Ticket</h2>
<form action = '/buy' method="post">
	<label for="buy_name"> Ticket Name: </label>
	<input type="text" id="buy_name" name="buy_name">
	<br>
	<label for="buy_qty"> Quantity: </label>
	<input type="number" id="buy_qty" name="buy_qty">
	<br>
	<input type="submit" id="buy" value="Buy">
</form>

<br>
<h2 >Update Ticket</h2>
<form action = '/update' method="post">
	<label for="original_name"> Ticket Name:</label>
	<input type="text" id="orig_name" name="orig_name">
	<br>
	<label for="update_name"> New Ticket Name:</label>
	<input type="text" id="update_name" name="update_name">
	<br>
	<label for="update_qty"> Quantity: </label>
	<input type="number" id="update_qty" name="update_qty">
	<br>
	<label for="update_price"> Ticket Price: </label>
	<input type="number" id="update_price" name="update_price">
	<br>
	<label for="update_date"> Expiration Date: </label>
	<input type="text" id="update_date" name="update_date">
	<br>
	<input type="submit" id="update" value="Update">
</form>
<br>
<br>
<a href='/logout'>logout</a>
{% endblock %}
